; Scalingo api token is the token to access the scalingo api
SCALINGO_API_TOKEN=
; List of emails of the users allowed to access the scalingo project
SCALINGO_DOSSIER_FACILE_USERS=
; SCM link id is the id of the scm link in the scalingo project
SCALINGO_SCM_LINK_ID=
; Slack webhook url is the url of the slack webhook
SLACK_WEBHOOK_URL=